<!DOCTYPE html>
<html>
  <head>
    <title>MyApp</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag 'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>
  <body>
	  <!-- この部分は各ページで共通で表示されるヘッダーです -->
    <header>
      <nav>
       <!-- ここにホームへのリンクを追加してください -->
      <%= link_to 'Home', root_path %>
      <!-- ここにサインアップページへのリンクを追加してください -->
      <%= link_to 'Sign Up', new_user_path %>
      <!-- ここにログインページへのリンクを追加してください -->
      <%= link_to 'Login', new_session_path %>
      </nav>
    </header>
    
    <!-- この部分に各ページのコンテンツが挿入されます -->
    <%= yield %>

		<!-- この部分は各ページで共通で表示されるフッターです -->
    <footer>
      <p>MyApp ©2024</p>
    </footer>
  </body>
</html>